@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background:
    radial-gradient(circle at top left, #fff8eb 0%, transparent 35%),
    radial-gradient(circle at top right, #ffe7c7 0%, transparent 25%),
    #f8f5ef;

  color: #1f2937;
  font-family: Inter, sans-serif;
}